* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: black;
  color: white;
}

h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#first {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 20px;
  flex-wrap: wrap;
}

.user {
  width: 150px;
  text-align: center;
  padding: 5px;
  border: 2px solid white;
  border-radius: 5px;
  transition: transform 1s ease;
}

.user:hover {
  transform: scale(1.2);
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h2 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: orange;
}
